<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="static/css/bootstrap.min.css" rel="stylesheet">
    <link href="static/css/mycss.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/vis/4.16.1/vis.css" type="text/css"/>
    <script type="text/javascript" src="static/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/vis/4.16.1/vis-network.min.js"></script>
</head>

<body style="font: raleway">
<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
    <a class="navbar-brand" href="/" style="padding: 0.5%;">Graphs </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
            aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
</nav>


<main role="main" class="container">
    <br>
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div id="mynetwork" style=""></div>
            </div>

            <div class="col-sm-6" style="background-color:#eee; text-align:center;padding:1%">
                <div>
                    <h3>
                        <small class="text-muted">{{data}}</small>
                    </h3>
                    <hr>
                </div>

                <div>
                    <h3>
                        <blockquote class="blockquote">
                            <p class="mb-0" style="text-align:center;" id="node_data"></p>
                        </blockquote>
                    </h3>
                </div>
            </div>
        </div>
    </div>

</main>

<script type="text/javascript" src="static/js/main.js"></script>

<script>

      let xhr = new XMLHttpRequest();

      xhr.onreadystatechange = function() {
    
      if (xhr.readyState === 4) {
        json_data = xhr.responseText;
        json_data = JSON.parse(json_data)
        results = parse_data(json_data)
        nodes = results[0]
        edges = results[1]

        drawGraph(nodes, edges);

      }
    }
    xhr.open("GET", "/view_graph",true);
    xhr.setRequestHeader('Accept', 'application/json');
    xhr.send();








</script>

</body>

</html>