{% extends "base.html" %}

{% block content %}
<br>
<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <div id="mynetwork" style=""></div>
        </div>

        <div class="col-sm-6" style="background-color:#eee; text-align:center;padding:1%">
            <div>
                <h3>
                    <small class="text-muted">{{data}}</small>
                </h3>
                <hr>
            </div>

            <div>
                <h3>
                    <blockquote class="blockquote">
                        <p class="mb-0" style="text-align:center;" id="node_data"></p>
                    </blockquote>
                </h3>
            </div>
        </div>
    </div>
</div>
<script>

      let xhr = new XMLHttpRequest();

      xhr.onreadystatechange = function() {

      if (xhr.readyState === 4) {
        json_data = xhr.responseText;
        json_data = JSON.parse(json_data)
        results = parse_data(json_data)
        nodes = results[0]
        edges = results[1]

        drawGraph(nodes, edges);

      }
    }
    xhr.open("GET", "/graph/{{book_id}}",true);
    xhr.setRequestHeader('Accept', 'application/json');
    xhr.send();


</script>
{% endblock %}



